:root {
  --safe-area-top: env(safe-area-inset-top, 20px);
  --primary-color: #ee1b24;
  --primary-color-light: rgba(238, 27, 36, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: var(--safe-area-top);
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

#app {
  position: relative;
  flex: 1 0 auto;
  width: 100%;
  min-height: calc(100% - var(--safe-area-top));
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 999;
  transition: opacity 0.5s ease-out;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid var(--primary-color-light);
  border-top-color: var(--primary-color);
  animation: spin 1s infinite linear;
  margin-bottom: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#loading p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: var(--primary-color);
  font-size: 18px;
}

#powerapp-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  background: #fff;
  z-index: 1;
}

/* Fix for iPhone status bar */
@supports (-webkit-touch-callout: none) {
  #powerapp-frame {
    margin-top: var(--safe-area-top);
    height: calc(100% - var(--safe-area-top));
  }
}
